@model Konzultacije.Models.Termini

@{
	ViewBag.Title = "Detalji o konzultaciji";
}

<h3>@ViewBag.Title</h3>

<div>

	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Kolegij.Naziv)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Kolegij.Naziv)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Profesor.Ime_I_Prezime)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Profesor.Ime_I_Prezime)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Dan_Tjedan)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Dan_Tjedan)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Vrijeme_Od)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Vrijeme_Od)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Vrijeme_Do)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Vrijeme_Do)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.TerminiID }) |

</p>
	<div>
		@Html.ActionLink("Natrag na početnu »", "Index", "Home", null, new { @class = "btn btn-info" })
	</div>

