@model Konzultacije.Models.Termini

@{
	ViewBag.Title = "Izmjena konzultacije";
}

<h3>@ViewBag.Title</h3>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Termini</h4>
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.TerminiID)

		<div class="form-group">
			@Html.LabelFor(model => model.ProfesorID, "ProfesorID", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("ProfesorID", null, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.ProfesorID, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.KolegijID, "KolegijID", htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.DropDownList("KolegijID", null, htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(model => model.KolegijID, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Dan_Tjedan, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Dan_Tjedan, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Dan_Tjedan, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Vrijeme_Od, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Vrijeme_Od, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Vrijeme_Od, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.Vrijeme_Do, htmlAttributes: new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.Vrijeme_Do, new { htmlAttributes = new { @class = "form-control" } })
				@Html.ValidationMessageFor(model => model.Vrijeme_Do, "", new { @class = "text-danger" })
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Spremi promjene" class="btn btn-outline-warning" />
			</div>
		</div>
	</div>
}

<div class="col-md-6">
	<div>
		@Html.ActionLink("Natrag na početnu »", "Index", "Home", null, new { @class = "btn btn-info" })
	</div>
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
