@model IEnumerable<Konzultacije.Models.Termini>

@{
	ViewBag.Title = "Popis svih termina";
}

<br />
<h2>@ViewBag.Title</h2>


<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Kolegij.Naziv)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Profesor.Ime_I_Prezime)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Dan_Tjedan)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Vrijeme_Od)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Vrijeme_Do)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Kolegij.Naziv)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Profesor.Ime_I_Prezime)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Dan_Tjedan)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Vrijeme_Od)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Vrijeme_Do)
			</td>
			@if (Session["Profesor"] != null)
			{
			<td>
				@Html.ActionLink("Promjeni termin", "Edit", new { id = item.TerminiID }, new { @class= "btn btn-outline-warning"}) 
			
				@Html.ActionLink("Obriši konzultaciju", "Delete", new { id = item.TerminiID }, new { @class = "btn btn-outline-danger"})
			</td>
			}
		</tr>
	}

</table>

<br /><hr />

@if (Session["Student"] == null && Session["Profesor"] != null)
{
	  <div class="row">
	  	<div class="col-md-6">
	  		<p>Možete i ovdje napraviti unos novog termina</p>
	  		<p>
	  			@Html.ActionLink("Unos novog termina »", "Create", "Termini", new { @class = "btn btn-info" })
	  </p>
	  </div>
	  </div>
}
<br />

	<div class="row">

	  <div class="col-md-6">
	  	<p>Ovdje se možete vratiti na početnu stranicu</p>
	  	<p>
	  		@Html.ActionLink("Natrag na početnu »", "Index", "Home", "Upit", new { @class = "btn btn-info" })
	  </p>
	  </div>

</div>