@model Konzultacije.Models.Student

@{
    ViewBag.Title = "Izmjena podataka o studentu";
}

<h4>@ViewBag.Title @Html.DisplayFor(model => model.Ime_I_Prezime)</h4>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.StudentID)

        <div class="form-group">
            @Html.LabelFor(model => model.Ime_I_Prezime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ime_I_Prezime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ime_I_Prezime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudijID, "StudijID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("StudijID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StudijID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" , @readonly = true} })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

		<div class="form-group">
			@Html.LabelFor(model => model.Lozinka, htmlAttributes: new { @class = "control-label col-md-2" })

			<div class="col-md-10">
				@Html.EditorFor(model => model.Lozinka, new { htmlAttributes = new { @class = "form-control", @value = Model.Lozinka } })
				@Html.ValidationMessageFor(model => model.Lozinka, "", new { @class = "text-danger" })
				<br />
				<p>
					Prikaži lozinku
					<br />
					@Html.CheckBox("Prikazi lozinku", new { @class = "checkbox", @onchange = "document.getElementById('Lozinka').type = this.checked ? 'text' : 'password' " })
				</p>
			</div>
			
		</div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Aktivacijski_link, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Aktivacijski_link, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Aktivacijski_link, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.Aktivan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Aktivan)
                    @Html.ValidationMessageFor(model => model.Aktivan, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Spremi promjene" class="btn btn-outline-warning" />
            </div>
        </div>
    </div>
}

	<div class="row">
		<div class="col-sm-6">
			@Html.ActionLink("Natrag na početnu »", "Index", "Home",null, new { @class = "btn btn-info" })
		</div>
	</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
