@model IEnumerable<Konzultacije.Models.Kolegij>
@{
	ViewBag.Title = "Popis odabranih kolegija";
}
<br />
<h3>@ViewBag.Title</h3>
<br />

<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Naziv)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Odabran)
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Naziv)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Odabran)
			</td>
			<td>
				@Html.ActionLink("Uredi »", "Edit", "Kolegij", new { id = item.KolegijID }, new { @class = "btn btn-outline-info" })
			</td>

		</tr>
	}

</table>

<div>
	@Html.ActionLink("Natrag na početnu »", "Index", "Home", null, new { @class = "btn btn-info" })
</div>