@using Konzultacije.Models

@{
	ViewBag.Title = "Konzultacije";
}

<br />
&emsp;&emsp;

<div>
	@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
	{
		@Html.AntiForgeryToken()
	
		<div class="bg-primary rounded form-group text-white" style="height: 60px; padding:15px; max-width:400px; min-width:240px;">
			<p style="text-align:center;">Odaberite jednu od opcija registracije</p>
		</div>

		
		<div class="container">
			<div class="row col-12">

				<p>@Html.ActionLink("Registracija Profesora", "Create", "Profesor","Account", new { @class = "btn btn-danger" })</p>
				&emsp;
				<p>@Html.ActionLink("Registracija Studenta", "Create", "Student", "Account", new { @class = "btn btn-warning" })</p>

			</div>
		</div>
	
		
		
		<div class="moje">
			<div>
				@Html.ActionLink("Prijava", "Login", "Account", new { @Style = "color: black;", @class = "mojilink;" })
				&emsp;
				@Html.ActionLink("Zaboravio lozinku", "ForgottenPassword", "Account", new { @Style = "color: black;", @class = "mojilink;" })
				&emsp;
				@Html.ActionLink("Registracija", "Register", "Account", new { @Style = "color: black;", @class = "mojilink;" })
			</div>
		</div>
	}

</div>


	@section Scripts {
		@Scripts.Render("~/boundles/jqueryval")
	}
