@using Konzultacije.Models
@*@model Konzultacije.Models.RegisterViewModel*@
@model Student
@{
	ViewBag.Title = "Konzultacije";
}

<br />
&emsp;&emsp;

<div>
	@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
	{
		@Html.AntiForgeryToken()
		<div class="bg-primary rounded form-group text-white" style="height: 60px; padding:15px; max-width:280px; min-width:235px;"><p style="text-align:center;">Ispunite podatke za registraciju</p> </div>

		@Html.ValidationSummary()
		<div class="form-group">
			@Html.TextBoxFor(Model => Model.Ime_i_prezime, new { @Value = "Ime i prezime", @class = "form-control", @onclick = "this.value =''" })
		</div>

		<div class="form-group">
			@Html.TextBoxFor(Model => Model.Email, new { @Value = "Vašu E-mail adresu", @class = "form-control", @onclick = "this.value =''" })
		</div>
		<div class="form-group">
			@Html.PasswordFor(Model => Model.Lozinka, new { @Value = "Lozinka", @class = "form-control", @onclick = "this.value =''" })

		</div>
		<div class="form-group">
			@Html.PasswordFor(Model => Model.PonoviLozinku, new { @Value = "Ponovi lozinku", @class = "form-control", @onclick = "this.value =''" })
		</div>


		<div class="form-group">
			<div>
				<input type="submit" value="Registracija" class="btn btn-success" />
			</div>
		</div>

		<div class="moje">
			<div>
				@Html.ActionLink("Prijava", "Login", "Account", new { @Style = "color: black;", @class = "mojilink;" })
				&emsp;
				@Html.ActionLink("Zaboravio lozinku", "ForgottenPassword", "Account", new { @Style = "color: black;", @class = "mojilink;" })
				&emsp;
				@Html.ActionLink("Registracija", "Register", "Account", new { @Style = "color: black;", @class = "mojilink;" })
			</div>
		</div>
	}

	</div>


	@section Scripts {
		@Scripts.Render("~/boundles/jqueryval")
	}
