@model Konzultacije.Models.Upit

@{
    ViewBag.Title = "Brisanje upita";
}

<h3>@ViewBag.Title</h3>

<h4>Jeste li sigurni da želite obrisati upit?</h4>
<div>
    
    <hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Profesor.Ime_I_Prezime)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Profesor.Ime_I_Prezime)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Student.Ime_I_Prezime)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Student.Ime_I_Prezime)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Termini.Kolegij.Naziv)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Termini.Kolegij.Naziv)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Naslov)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Naslov)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Opis)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Opis)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Odgovor)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Odgovor)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Odgovoren)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Odgovoren)
		</dd>

	</dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

	<div class="form-actions no-color">
		<input type="submit" value="Obriši upit" class="btn btn-outline-danger" /> 
		<br />
		<br />
		@Html.ActionLink("Natrag na početnu »", "Index", "Home", null, new { @class = "btn btn-info" })
	</div>
    }
</div>
